

<footer class="bg-gray-900 text-white py-6">
    <div class="max-w-screen-lg mx-auto text-center">
      <!-- Texto principal -->
      <p class="text-sm text-gray-400">
        &copy; 2025 jgxdev.
      </p>
  
      <!-- Links del footer -->
      <div class="flex justify-center space-x-6 mt-4">
        <!-- Icono de Twitter -->
        <a href="https://twitter.com" target="_blank" class="text-gray-400 hover:text-white transition">
          <i class="fab fa-twitter text-2xl"></i>
        </a>
        <!-- Icono de GitHub -->
        <a href="https://github.com" target="_blank" class="text-gray-400 hover:text-white transition">
          <i class="fab fa-github text-2xl"></i>
        </a>
        <!-- Icono de LinkedIn -->
        <a href="https://linkedin.com" target="_blank" class="text-gray-400 hover:text-white transition">
          <i class="fab fa-linkedin text-2xl"></i>
        </a>
      </div>
         <!-- Agradecimientos -->
         <p class="text-sm text-gray-400">
           Inspirado en <a href="https://moure.dev/">Brais Moure</a> y <a href="https://linktr.ee">Link Tree</a>
          </p>
      
    </div>
  </footer>
  