---
import Avatar from '../assets/avatar_jg.jpg'
---



<header>
  <div class="bg-gray-900 text-white min-h-screen flex flex-col items-center justify-center mx-auto">
    <!-- Header -->
    <!-- <header class="bg-gray-800 w-full py-4 px-6">
      <h1 class="text-2xl text-blue-400 font-bold">jgxdev</h1>
    </header> -->
  
    <!-- Profile Section -->
    <section class="mt-12 text-center flex">
        <!-- Profile Picture -->
        <div class="flex flex-col items-center">
          <img
            src={Avatar.src}
            alt="José G. Martínez"
            class="w-24 h-24 rounded-full border-4 border-blue-400 align-middle"
          />
        </div>
    
      <!-- Profile Name -->
      <div class="flex flex-col items-start mx-4">
        <h2 class="mt-4 text-2xl font-bold">José G. Martínez</h2>
        <p class="text-blue-400">@josegermax</p>
   
      </div>
    </section>
    <section>
             <!-- Social Icons -->
             <div class="flex justify-center space-x-4 mt-6 text-2xl text-gray-400">
              <a href="https://github.com/JoseGermanx" class="hover:text-blue-400"><i class="fab fa-github"></i></a>
              <a href="https://www.threads.net/@josegermanx" class="hover:text-blue-400"><i class="fab fa-threads"></i></a>
              <a href="https://www.instagram.com/josegermanx" class="hover:text-blue-400"><i class="fab fa-instagram"></i></a>
              <a href="https://bsky.app/profile/josegermanx.bsky.social" class="hover:text-blue-400"><i class="fab fa-bluesky"></i></a>
              <!-- <a href="#" class="hover:text-blue-400"><i class="fab fa-spotify"></i></a> -->
              <a href="https://www.linkedin.com/in/josegermanx/" class="hover:text-blue-400"><i class="fab fa-linkedin"></i></a>
            </div>
    </section>
    <section>
         <!-- Stats Section -->
         <div class="flex justify-center space-x-8 mt-8 text-lg">
          <div class="text-center">
            <p class="font-bold text-blue-400">10+</p>
            <p class="text-gray-400">años de experiencia</p>
          </div>
          <div class="text-center">
            <p class="font-bold text-blue-400">200+</p>
            <p class="text-gray-400">alumnos atendidos</p>
          </div>
        </div>
      <!-- Description -->
      <p class="mt-8 text-gray-300 max-w-2xl mx-5 leading-relaxed">
        Soy ingeniero de procesos y de software. Actualmente trabajo como instructor de JavaScript y como freelance full-stack developer MERN/PERN.
        Estos son mis links de interés.
      </p>
    </section>
  </div>
  
</header>