---

---

<div class="bg-gray-900 min-h-screen flex flex-col items-center py-8 text-white">
    <!-- Tarjeta Web -->
    <div class="w-11/12 max-w-md bg-gray-800 rounded-2xl p-4 mb-4 hover:bg-gray-700">
      <h3 class="text-xl font-bold">jgx<sup> dev</sup> Mi sitio web</h3>
      <p class="text-gray-300"><a href="https://www.jgxdev.com/">Conoce un poco</a> mas de mi trabajo</p>
    </div>
  
    <!-- Tarjeta News -->
    <div class="w-11/12 max-w-md bg-gray-800 border-2 border-blue-500 rounded-2xl p-4 mb-4 hover:bg-gray-700 flex items-center">
        <i class="fa-regular fa-newspaper text-3xl mr-4 text-gray-400"></i>
        <div>
      <h3 class="text-xl font-bold">Newsletter</h3>
      <p class="text-gray-300"><a href="https://www.linkedin.com/newsletters/7078460407316635648/">Sucríbete</a> gratis a mi newsletter sobre desarrollo</p>
      </div>
    </div>
  
    <!-- Tarjeta Twitch -->
    <div class="w-11/12 max-w-md bg-gray-800 rounded-2xl p-4 mb-4 flex items-center hover:bg-gray-700 ">
      <i class="fab fa-twitch text-3xl mr-4 text-gray-400"></i>
      <div>
        <h3 class="text-lg font-bold">Twitch</h3>
        <p class="text-gray-400"><a href="https://www.twitch.tv/josegermanx">Directos </a>para aprender programación y nuevos frameworks</p>
      </div>
    </div>
  
    <!-- Tarjeta Discord -->
    <!-- <div class="w-11/12 max-w-md bg-gray-800 rounded-2xl p-4 mb-4 flex items-center hover:bg-gray-700 ">
      <i class="fab fa-discord text-3xl mr-4 text-gray-400"></i>
      <div>
        <h3 class="text-lg font-bold">Discord</h3>
        <p class="text-gray-400">El chat y los grupos de estudio de la comunidad</p>
      </div>
    </div> -->
  
    <!-- Tarjeta YouTube -->
    <div class="w-11/12 max-w-md bg-gray-800 rounded-2xl p-4 mb-4 flex items-center hover:bg-gray-700 ">
      <i class="fab fa-youtube text-3xl mr-4 text-gray-400"></i>
      <div>
        <h3 class="text-lg font-bold">YouTube</h3>
        <p class="text-gray-400"><a href="https://www.youtube.com/@josegermanx">Mi canal personal</a> en Yutu!</p>
      </div>
    </div>
  </div>

  <style>
    a {
        color: yellow;
    }
  </style>
  