<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favico.png" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Links y Recursos de José Germán Martínez</title>
    <meta name="description" content="Enlaces y recursos de José Germán Martínez, ingeniero de software y creador de contenido educativo." />
    <meta name="keywords" content="José Germán Martínez, ingeniero de software, contenido educativo, JavaScript, MERN, PERN, Full Stack Developer" />
    <meta name="author" content="José Germán Martínez" />
    <meta property="og:title" content="José Germán Martínez - Ingeniero de Software y Creador de Contenido" />
    <meta property="og:description" content="Enlaces y recursos de José Germán Martínez, ingeniero de software y creador de contenido educativo." />
    <meta property="og:image" content="/avatar_jg.jpg" />
    <meta property="og:url" content="https://josegermanx.github.io/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="José Germán Martínez - Ingeniero de Software y Creador de Contenido" />
    <meta name="twitter:description" content="Enlaces y recursos de José Germán Martínez, ingeniero de software y creador de contenido educativo." />
    <meta name="twitter:image" content="/og-image.png" />
    <meta name="theme-color" content="#1a202c" />
    <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"
      defer></script>
    <script defer>
      window.addEventListener('load', () => {
        kofiWidgetOverlay.draw("josegermanx", {
          type: "floating-chat",
          "floating-chat.donateButton.text": "Invitarme un café",
          "floating-chat.donateButton.background-color": "#00b9fe",
          "floating-chat.donateButton.text-color": "#fff",
        });
      })
    </script> 
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
